<% if @title.present? && @description.present? %>
  <div class="container">
    <h1 class="py-4">Create an automate github issue</h1>
    <div class="d-flex py-2">
      <div class="col-6">
        <h3>Title: <%= @title %></h3>
        <p><b>Description:</b> <%= @description %></p>
        <button class="btn btn-primary" onclick="location.reload()">Generate New Suggestion</button>
      </div>
      <div class="col-6 text-center my-auto">
        <p>If you are satisfied with suggestion you can create the issue on github: </p>
        <%= form_tag issues_path, method: :post, 'data-turbo': false, class: "d-inline-flex" do %>
          <%= hidden_field_tag :git_username, @git_username %>
          <%= hidden_field_tag :repo_name, @repo_name %>
          <%= hidden_field_tag :title, @title %>
          <%= hidden_field_tag :description, @description %>
          <%= submit_tag "Generate Issue", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
