<div class="container mt-150">
  <section id="formHolder">
    <div class="row">
      <div class="col-sm-6 brand">
        <div class="heading">
           <h2>GitGPT</h2>
           <p>Your Right Choice</p>
        </div>

        <div class="success-msg">
           <p>Great! You are one of our members now</p>
           <a href="#" class="profile">Your Profile</a>
        </div>
      </div>

      <div class="col-sm-6 form">
        <div class="login form-peice switched">
          <form class="login-form" action="#" method="post">
            <div class="form-group">
               <label for="loginemail">Email Adderss</label>
               <input type="email" name="loginemail" id="loginemail" required>
            </div>

            <div class="form-group">
               <label for="loginPassword">Password</label>
               <input type="password" name="loginPassword" id="loginPassword" required>
            </div>

            <div class="CTA">
               <input type="submit" value="Login">
               <a href="#" class="switch">I'm New</a>
            </div>
          </form>
        </div><!-- End Login Form -->

        <!-- forget password Form -->
        <div class="signup form-peice">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

            <h3 class="text-dark text-center">Forgot your password</h3>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group mb-0">
              <%= f.label :email, class: 'mb-4' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"abc@gmail.com", id: "email", class: "email pb-0" %>
            </div>

            <div class="CTA">
              <%= f.submit "Reset Password",class:"btn btn-outline-secondary mb-2"%><br>
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
