<div class="modal" id = "edit_suggestion" tabindex="-1" role="dialog" data-controller="hello">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit file Suggestion</h5>
      </div>
      <%= form_with(url: reviews_path, method: :post, 'data-turbo': false, class: "d-inline-flex") do |f|%>
        <div class="container py-2">
          <div class="col-12">
            <div class="modal-body">
              <%= f.text_area :content, value: @suggested_content, class: "form-control", rows: 8 %>
              <%= hidden_field_tag :git_username, @git_username %>
              <%= hidden_field_tag :repo_name, @repo_name %>
              <%= hidden_field_tag :number, @pr_number %>
              <%= hidden_field_tag :commit_id, @commit_id %>
              <%= hidden_field_tag :path, @filename %>
            </div>
          </div>
          <div class="text-center my-auto">
            <p>If you are done with the changes, you can add review for this file</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-action = "click->hello#close_edit_suggestion_modal">Close</button>
            <%= submit_tag "Add Review", class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>