<div class="py-5 pb-113">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-start">
            <%= image_tag 'chatgpt_1.jpg', class: "img-fluid rounded w-100", style: "height: 298px;" %>
          </div>
          <div class="col-6 text-start">
            <%= image_tag 'homepage_5.jpg', class: "img-fluid rounded w-75 mt-50" %>
          </div>
          <div class="col-6 text-end">
            <%= image_tag 'homepage_5.jpg', class: "img-fluid rounded w-75" %>
          </div>
          <div class="col-6 text-end">
            <%= image_tag 'homepage_1.jpg', class: "img-fluid rounded w-100", style: "height: 298px;" %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="section-title ff-secondary text-start text-prime fw-normal">About Us</h5>
        <h1 class="mb-4">Welcome to <i class="fab fa-git-square text-prime me-2"></i>GitGPT</h1>
        <p class="mb-4">The service provider will then work with the website's team to implement these recommendations and monitor the results over time. This may involve making changes to the website's code, design, and content, as well as ongoing testing and analysis to measure the impact of these changes on the website's performance.</p>
        <p> Based on this analysis, the PR refactor service provider will develop a customized optimization plan that addresses the specific needs and goals of the website. This plan may include recommendations for content optimization, technical SEO improvements, and user experience enhancements.
        </p>
        <div class="row g-4 mb-4">
          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
              <h1 class="flex-shrink-0 display-5 text-prime mb-0" data-toggle="counter-up">15</h1>
              <div class="ps-4">
                <p class="mb-0">Years of</p>
                <h6 class="text-uppercase mb-0">Experience</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
              <h1 class="flex-shrink-0 display-5 text-prime mb-0">50</h1>
              <div class="ps-4">
                <p class="mb-0">Popular</p>
                <h6 class="text-uppercase mb-0">Companies</h6>
              </div>
            </div>
          </div>
        </div>
        <%= link_to 'Read More', '#', class: "btn btn-primary py-3 px-5 mt-2" %>
      </div>
    </div>
  </div>
</div>