<div>
  <section class="home-team-bg">
      <div class="text-center pt-5 ">
        <div class="text-center">
          <h3 class="section-title ff-secondary text-center text-prime fw-normal">Squad Hustler's</h3>
          <h1 class="mb-5">Our Squad Members</h1>
        </div>
      </div>
  </section>
  <div class="container container-xxl pt-5 pb-3">
    <div class="row g-4">
      <div class="scroller h-scroll" >
        <div class="col-lg-3 col-md-6" >
          <div class="team-item text-center rounded overflow-hidden card-shadow ms-2">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_2.jpg', class: "img-fluid-team team-image" %>
            </div>
            <h5 class="mb-0">Anjali Sahni</h5>
            <small>Line Manager</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" >
          <div class="team-item text-center rounded overflow-hidden card-shadow">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_3.jpg', class: "img-fluid-team team-image" %>
            </div>
            <h5 class="mb-0">Kunal Kohli</h5>
            <small>Squad Lead</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" >
          <div class="team-item text-center rounded overflow-hidden card-shadow ms-2">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_4.jpg', class: "img-fluid-team team-image" %>
            </div>
            <h5 class="mb-0">Shrey Gupta</h5>
            <small>Associate Squad Lead</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" >
          <div class="team-item text-center rounded overflow-hidden card-shadow ms-2">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_1.jpg', class: "img-fluid-team team-image" %>            
            </div>
            <h5 class="mb-0">Jayant Jain</h5>
            <small>Squad Member</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 " >
          <div class="team-item text-center rounded overflow-hidden card-shadow ms-2">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_5.jpg', class: "img-fluid-team team-image" %>
            </div>
            <h5 class="mb-0">Adarsh Kumar</h5>
            <small>Squad Member</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 " >
          <div class="team-item text-center rounded overflow-hidden card-shadow ms-2">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_6.jpg', class: "img-fluid-team team-image" %>
            </div>
            <h5 class="mb-0">Harman Kamboz</h5>
            <small>Squad Member</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 " >
          <div class="team-item text-center rounded overflow-hidden card-shadow ms-2">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_7.png', class: "img-fluid-team team-image" %>
            </div>
            <h5 class="mb-0">Mohit Kumar</h5>
            <small>Squad Member</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 " >
          <div class="team-item text-center rounded overflow-hidden card-shadow ms-2">
            <div class="rounded-circle overflow-hidden m-4">
              <%= image_tag 'team_8.jpg', class: "img-fluid-team team-image" %>
            </div>
            <h5 class="mb-0">Anu Saini</h5>
            <small>Squad Member</small>
            <div class="d-flex justify-content-center mt-3">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>