<div class="container header-margin">
  <table class="flatTable mt-150 my-100">
    <tr class="titleTr">
      <td class="titleTd">FILE CHANGES</td>
      <td colspan="4"></td>
    </tr>
    <tr class="headingTr">
      <td>FILE NAME</td>
      <td>TOTAL CHANGES</td>
      <td>ACTIONS</td>
    </tr>
    <% if @responses.present? %>
      <% @responses.each do |response|%>
        <tr>
          <td><%= response['filename'] %></td>
          <td><%= response['changes'] %></td>
          <td>
            <%= form_tag audit_code_path, method: :post, 'data-turbo': false do %>
              <%= hidden_field_tag :git_username, @git_username %>
              <%= hidden_field_tag :repo_name, @repo_name %>
              <%= hidden_field_tag :number, response['number'] %>
              <%= hidden_field_tag :content, response['patch'] %>
              <%= submit_tag "View Suggestion", class: 'btn btn-primary' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No Files found for this Pull Request</td>
        <td colspan="3"></td>
      </tr>
    <% end %>
  </table>
</div>
